.footer {
    padding-top: var(--padding-150);
    padding-bottom: 50px;
    background-color: var(--white-color);
    &__text {
        font-size: 18px;
        line-height: 24px;
        color: var(--secondary-color);
        text-transform: uppercase;
        max-width: 260px;
    }
    &__col {
        &-1 {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
    }
    &__caption {
        color: var(--black-color);
        text-transform: uppercase;
        font-size: var(--fz-34);
        line-height: var(--lh-38);
    }
    &__contacts {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px 0px;
        &-link {
            color: var(--black-color);
            font-size: 18px;
            line-height: 24px;
            text-transform: uppercase;
            display: flex;
            gap: 0px 19px;
            align-items: center;
            svg {
                width: 18px;
                height: 18px;
            }
            span {
                color: var(--black-color);
                font-size: inherit;
                line-height: inherit;
                text-transform: uppercase;
            }
        }
    }
    &__address {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px 0px;

        &-link {
            font-size: 18px;
            line-height: 24px;
            color: #E07E44;
            text-transform: uppercase;
        }
        &-text {
            font-size: 18px;
            line-height: 24px;
            color: var(--black-color);
            text-transform: uppercase;
            margin-top: 24px;
        }
    }
}


@media (max-width: 991px) {
    .footer {
        &__wrapper {
            gap: 24px 0px;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        .container {
            position: relative;
        }
        &__logo {
            position: absolute;
            top: -50px;
            left: 10px;
            max-width: 157px;
            .text__dec {
                &-main {
                    &:before {
                        height: 2px;
                    }
                }
            }
        }
        &__order-1 {
            order: 4;
        }
        &__col-1 {
            gap: 12px 0px;
        }
        &__contacts {
            margin-top: 10px;
            gap: 10px 0px;
            &-link {
                gap: 0px 12px;
            }
        }
        &__address {
            margin-top: 10px;
            gap: 8px 0px;
            &-text {
                margin-top: 8px;
                margin-bottom: 0px;
            }
        }
    }
}

@media (max-width: 575px) {
    .footer {
        padding-top: 100px;
        &__logo {
            max-width: 140px;
            .text__dec {
                &-prefix, &-postfix {
                    letter-spacing: 0px;
                    font-size: 20px;
                    line-height: 24px;
                }
                &-main {
                    letter-spacing: 0px;
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }
}