.header {
    width: 100%;
    position: absolute;
    padding-top: var(--padding-20);
    z-index: 5;
}

@media (max-width: 991px) {
    .header {
        z-index: 5;
        .container {
            position: relative;
        }
        &__nav {
            transition: none;

        }
        &__wrapper {
            transition: all .3s ease;
            &.active {
                flex-direction: column;
                justify-content: center;
                padding-top: var(--padding-30);
                .header__logo {
                    max-width: 180px!important;
                    width: 180px;
                    transition: none;
                }
                .header__logo-wrapper {
                    justify-content: center!important;
                    width: 200px!important;
                }
                .nav__link {
                    color: var(--black-color);
                }
                .text__dec-prefix, .text__dec-postfix {
                    color: var(--black-color);
                }
                .text__dec-main:before {
                    background-color: var(--black-color);
                }
                .contacts__messanger {
                    span {
                        svg {
                            path {
                                fill: #276AA5;
                            }
                        }
                    }
                }
                .burger {
                    span {
                        background-color: var(--third-color);
                    }
                }
            }
            &-nav {
                display: flex;
                margin-top: var(--margin-24);
                &.active {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            &-contacts {
                display: none;
                margin-top: var(--margin-24);
                &.active {
                    display: block;
                }
            }
        }
        .nav__link {
            text-align: center;
        }
    }
}




@media (max-width: 575px) {
   .header {
    padding-top: 16px;
    &__logo {
        max-width: 90px;
    }
    .nav__link {
        font-size: 18px;
        line-height: 24px;
    }
    &.active {
        .header__logo {
            max-width: 120px!important;
            width: 120px;
            span {
                font-size: 20px;
                line-height: 24px;
            }
        }
        .header__logo-wrapper {
            width: 140px!important;
        }
    }
   }
  
  }