.numbers {
    background-color: var(--white-color);
    padding: var(--padding-150) 0px;
    &__h2 {
        text-transform: uppercase;
        // max-width: 396px;
        .text__dec {
            &-main, &-prefix, &-postfix {
                font-size: var(--fz-52);
                line-height: var(--lh-58);
            }
            &-main {
                padding: 0px 36px;
            }
        }
    }
    &__items {
        margin-top: var(--margin-80);
        &-wrapper {
            gap: 80px 0px;
        }
    }
    &__caption {
        font-size: var(--fz-112);
        line-height: var(--lh-120);
        color: var(--secondary-color);
        font-family: "RobotoMono";
        font-weight: 400;
    }
    &__desc {
        margin-top: 32px;
        font-size: var(--fz-32);
        line-height: var(--lh-38);
        color: var(--secondary-color);
        text-transform: uppercase;
        max-width: 590px;
        font-family: "RobotoMono";
        font-weight: 400;
    }

    &__call {
        position: relative;
        overflow: hidden;
        margin-top: var(--padding-150);
        padding: 80px;
        background-color: var(--secondary-color);
        &:before {
            content: "";
            position: absolute;
            top: -89px;
            right: 0px;
            background-image: url(../img/vector-4.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 300px;
            height: 300px;
            z-index: 0;
        }
        &:after {
            content: "";
            position: absolute;
            top: -41px;
            left: 96px;
            background-image: url(../img/vector-5.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 837px;
            height: 328px;
            z-index: 0;
        }

        &-caption {
            font-size: var(--fz-34);
            line-height: var(--lh-38);
            text-transform: uppercase;
            font-family: "RobotoMono";
            font-weight: 400;
        }
        &-text {
            margin-top: 24px;
            font-size: 18px;
            line-height: 24px;
            text-transform: uppercase;
            font-family: "RobotoMono";
            font-weight: 400;
        }
    }
    &__button {
        z-index: 1;
    }
}

@media (max-width: 1399px) {
    .numbers {
        &__call {
            &:after {
                left: 56px;
            }
        }
    }
}

@media (max-width: 1199px) {
    .numbers {
        &__items {
            &-wrapper {
                gap: 40px 0px;
            }
        }
        &__call {
            &:after {
                left: -138px;
            }
        }
    }
}

@media (max-width: 991px) {
    .numbers {
        &__caption {
            font-size: 80px;
            line-height: 90px;
        }
        &__desc {
            margin-top: 16px;
        }
        &__call {
            margin-top: 50px;
            padding: 30px;
            &:after {
                content: "";
                top: -32px;
                left: -164px;
                width: 640px;
                height: 252px;
            }
        }
    }
}

@media (max-width: 767px) {
    .numbers {
        // &__h2 {
            // max-width: 200px;
        // }
        &__items-wrapper {
            gap: 25px 0px;
        }
        &__call {
            &:before {
                top: -13px;
                right: -63px;
                width: 234px;
                height: 300px;
                transform: rotate(450deg);
             }
             &:after {
                 background-image: url(../img/vector-6.png);
                left: 0px;
                width: 540px;
                height: 82px;
                top: 46px;
            }
             &-caption {
                position: relative;
                font-size: 19px;
                line-height: 25px;
                text-align: center;
                z-index: 1;
            }
            &-text {
                font-size: 14px;
                line-height: 16px;
                margin-top: 15px;
                text-align: center;
            }
        }
        &__caption {
            font-size: 60px;
            line-height: 70px;
        }
        &__desc {
            font-size: 16px;
            line-height: 18px;
        }
        &__button {
            width: 100%;
            max-width: 100%;
            margin-top: 24px;
        }
    }
}

@media (max-width: 575px) {
    .numbers {
        &__h2 {
            // max-width: 105px;
            .text__dec {
                &-prefix, &-postfix, &-main {
                    font-size: 16px;
                    line-height: 20px;
                    // letter-spacing: 0px;
                }
                &-main {
                    padding: 0px 8px;
                }
            }
        }
        &__items-wrapper {
            gap: 24px 0px;
        }
        &__call {
            padding: 24px 12px;
            margin: 0px 0px;
            margin-top: 60px;
            &-caption {
                font-size: 18px;
                line-height: 24px;
                
            }
            &-text {
                position: relative;
                z-index: 1;
                max-width: 200px;
                margin: 0 auto;
                margin-top: 16px;
            }
            &:before {
                top: 5px;
            }
            &:after {
                width: 100%;
                top: 31px;
            }
        }
        &__caption {
            font-size: 30px;
            line-height: 34px;
        }
        &__desc {
            margin-top: 8px;
        }
        &__button {
            font-size: 14px !important;
            line-height: 18px !important;
            padding: 11px 0px !important;
        }
    }
}