.ques {
    padding: var(--padding-150) 0px;
    &__h2 {
        text-transform: uppercase;
        max-width: 396px;
        .text__dec {
            &-main, &-prefix, &-postfix {
                font-size: var(--fz-52);
                line-height: var(--lh-58);
            }
        }
    }
    &__wrapper-2 {
        margin-top: 80px;
    }
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 80px 0px;
    }
    &__question {
        text-transform: uppercase;
        font-size: var(--fz-34);
        line-height: var(--lh-38);
    }
    &__answer {
        margin-top: 24px;
        font-size: var(--fz-18);
        line-height: var(--lh-24);
        text-transform: uppercase;
    }
}

@media (max-width: 767px) {
    .ques {
        &__h2 {
            max-width: 200px;
        }
        &__wrapper-2 {
            margin-top: 40px;
        }
        &__list {
            gap: 40px 0px;
        }
    }
}

@media (max-width: 575px) {
    .ques {
        &__h2 {
            max-width: 125px;
            .text__dec {
                &-prefix, &-postfix, &-main {
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0px;
                }
            }
        }
        &__wrapper-2 {
            margin-top: 32px;
        }
        &__list {
            gap: 32px 0px;
        }
        &__question {
            font-size: 16px;
            line-height: 20px;
        }
        &__answer {
            font-size: 12px;
            line-height: 16px;
            margin-top: 8px;
        }
    }
}