@import "./fonts";

:root {
    --primary-color: rgba(0, 0, 0, 1);
    --secondary-color: rgba(60, 100, 177, 1);
    --third-color: rgba(224, 126, 68, 1);
    --white-color: #fff;
    --black-color: #000;
    --fz-12: 12px;
    --fz-14: 14px;
    --fz-18: 18px;
    --fz-24: 24px;
    --fz-30: 30px;
    --fz-30: 32px;
    --fz-32: 32px;
    --fz-34: 34px;
    --fz-36: 36px;
    --fz-38: 38px;
    --fz-52: 52px;
    --fz-92: 92px;
    --fz-112: 112px;
    --lh-18: 18px;
    --lh-24: 24px;
    --lh-32: 32px;
    --lh-34: 34px;
    --lh-38: 38px;
    --lh-40: 40px;
    --lh-46: 46px;
    --lh-58: 58px;
    --lh-100: 100px;
    --lh-120: 120px;
    --padding-20: 20px;
    --padding-24: 24px;
    --padding-30: 30px;
    --padding-150: 150px;
    --padding-230: 230px;
    --margin-12: 12px;
    --margin-16: 16px;
    --margin-21: 21px;
    --margin-24: 24px;
    --margin-32: 32px;
    --margin-36: 36px;
    --margin-50: 50px;
    --margin-80: 80px;
    --margin-150: 150px;
    --gap-32: 32px;
    --gap-35: 35px;
    --font-primary: "DMMono";
    --font-secondary: "RobotoMono";
    --font-third: "Manrope";
    --font-fourth: "ChakraPetch";
}

body {
  font-size: 16px;
  background: var(--primary-color);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    font-size: var(--fz-18);
    line-height: var(--lh-24);
    font-weight: 400;
    word-wrap: break-word;
    color: var(--white-color);
  }
  
  img {
    display: block;
  }
  
  a {
    text-decoration: none;
    display: block;
  }
  
  button {
    border: none;
    background-color: transparent;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  
  ul, li {
    padding: 0;
    margin: 0;
  }
  
  input::-moz-placeholder {
    box-sizing: border-box;
    font-family: var(--font-primary);
  }
  
  input, input::placeholder {
    box-sizing: border-box;
    font-family: var(--font-primary);
  }
  

.wrapper {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* высота веб-страницы больше или равна высоте окна браузера */
    margin: 0;
    position: relative;
}

.content {
    flex: 1; /* если содержимое body меньше высоты окна, то section будет растянут до нужной величины */
    // white-space: pre-line;
    -ms-flex-preferred-size: auto;
}


//my styles

.logo {
  color: var(--orange-color);
  font-size: var(--fz-34);
  line-height: var(--lh-38);  
}

.text__dec {
  display: flex;

  &-h2 {
    // padding: 35px;
  }
  &-prefix, &-postfix {
    font-size: var(--fz-34);
    line-height: var(--lh-38);
    color: var(--white-color);
    &-black {
      color: var(--black-color);
    }
  }
  &-main {
    position: relative;
    font-size: var(--fz-34);
    line-height: var(--lh-38);
    color: var(--third-color);
    letter-spacing: -3px;
    text-align: center;
    &:before {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0px;
      width: 100%;
      height: 3px;
      background-color: var(--white-color);
    }
    &-black:before {
      background-color: var(--black-color);
    }
  }

}

.nav {
  &__list {
    list-style: none;
    gap: var(--gap-32);
  }
  
  &__link {
    position: relative;
    font-size: var(--fz-18);
    line-height: var(--lh-24);
    color: var(--white-color);
    text-transform: uppercase;
    &:before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0px;
      height: 2px;
      width: 100%;
      background-color: #fff;
      opacity: 0;
      transition: all .3s ease;
    }
    &:hover {
      color: rgba(255,255,255,0.8);
      &:before {
        opacity: 1;
      }
    }
  }
}

.contacts {
  display: flex;
  gap: var(--gap-35);
  &__messanger {
    svg {
      width: 18px;
      height: 18px;
    }
  }
  &__item {
    transition: all .3s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}

.button {
  font-size: var(--fz-18);
  line-height: var(--lh-24);
  padding: var(--padding-20) var(--padding-24);
  background-color: var(--third-color);
  color: var(--white-color);
  text-align: center;
  text-transform: uppercase;
  max-width: 220px;
  cursor: pointer;
  transition: all .3s ease;
  &:hover {
    color: var(--white-color);
    background-color: #bc6938;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 3px;
  span {
    width: 28px;
    height: 2px;
    border-radius: 8px;
    background-color: var(--white-color);
    transition: all .3s ease;
  }
  &.active {
    span {
      &:nth-child(1) {
          transform: rotate(45deg) translate(2.5px, 4px);
      }
      &:nth-child(2) {
          opacity: 0;
      }
      &:nth-child(3) {
          transform: rotate(-45deg) translate(4px, -5px);
      }
  }
    
  }
}

.overlay {
  position: absolute;
  top: -100%;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: var(--white-color);
  transition: all .1s ease;
  z-index: 4;
}

.text {
  &__24 {
    font-size: var(--fz-24);
    line-height: var(--lh-32);
    text-transform: uppercase;
  }
}

.third-color {
  color: var(--third-color)!important;
}


@import "./components/header";
@import "./components/intro";
@import "./components/about";
@import "./components/important";
@import "./components/numbers";
@import "./components/rooms";
@import "./components/team";
@import "./components/ques";
@import "./components/work";
@import "./components/footer";
@import "./components/popup";

@media (max-width: 1399px) {
  :root {
    --gap-32: 27px;
    --gap-35: 29px;
    --fz-18: 17px;
    --fz-30: 28px;
    --fz-34: 29px;
    --fz-92: 84px;
    --lh-100: 92px;
  }
}

@media (max-width: 1199px) {
  :root {
    --gap-32: 16px;
    --gap-35: 19px;
    --padding-20: 16px;
    --padding-24: 20px;
    --fz-18: 16px;
    --fz-34: 28px;
    --fz-92: 70px;
    --fz-112: 100px;
    --lh-24: 20px;
    --lh-38: 34px;
    --lh-100: 80px;
    --lh-120: 110px;
  }
}

@media (max-width: 991px) {
  :root {
    --fz-24: 18px;
    --fz-36: 30px;
    --fz-92: 52px;
    --fz-112: 95px;
    --lh-32: 26px;
    --lh-46: 40px;
    --lh-100: 60px;
    --lh-120: 105px;
    --margin-32: 26px;
  }
  .burger {
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 2;
  }

  .overlay {
    &.active {
        top: 0px;
    }
  }
}

@media (max-width: 767px) {
  :root {
    --fz-18: 15px;
    --fz-34: 24px;
    --fz-36: 26px;
    --fz-52: 30px;
    --fz-92: 39px;
    --fz-112: 82px;
    --lh-46: 32px;
    --lh-58: 40px;
    --lh-100: 45px;
    --lh-120: 95px;
    --margin-80: 24px;

  }
}

@media (max-width: 575px) {
  :root {
    --fz-18: 14px;
    --fz-34: 16px;
    --fz-36: 14px;
    --fz-92: 20px;
    --fz-112: 20px;
    --lh-38: 20px;
    --lh-46: 18px;
    --lh-100: 24px;
    --lh-120: 24px;
    --padding-20: 8px;
    --padding-150: 50px;
  }

  .button {
    padding: 5px 16px;
    font-size: 12px;
    line-height: 14px;
  }

  .container {
    padding: 0px 12px;
  }

  .burger {
    top: 5px;
    right: 12px;
    span {
      width: 16px;
    }
    &.active {
      span {
        &:nth-child(1) {
          transform: rotate(45deg) translate(2px, 3px);
        }
      }
    }
  }

  .text__dec {
    // width: 100%;
    &-main {
      // width: 100%;
      padding: 0px 8px;
      text-align: center;
      // letter-spacing: -1px;
      &:before {
        height: 1px;
        bottom: -1px;
      }
    }
  }

  .text {
    &__24 {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .intro {
    padding-bottom: 24px;
  }

}

.dnone {
  display: none;
}


#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}